.feedback-container {
    padding: 20px;
    background-color: #fff0f5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-container h2 {
    font-size: 2em;
    color: #780000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    font-size: 1em;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #003049;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff4382;
}
