.home-container {
    padding: 20px;
    background-color: #fff0f5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.home-title {
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: #780000;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.home-mission {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home-figure {
    margin: 20px 0;
}

.home-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #555;
}

.home-quote {
    font-style: italic;
    color: #780000;
    margin: 20px 0;
}

.home-pcos, .home-pcod {
    margin: 40px 0;
}

.home-pcos h2, .home-pcod h2 {
    font-size: 1.8em;
    color: #780000;
}

.home-pcos p, .home-pcod p {
    font-size: 1.2em;
}

ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
}
